* {
  margin: 0px;
}

#topOfPage {
  background-color: black;
  position: fixed;
  width: 100%;
}

.topIcon {
  float: right;
  margin-right: 30px;
  background-color: black;
  border: 2px solid rgb(33, 2, 39);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#header {
  font-size: 60px;
  border: 50px;
  padding: 100px;
  text-align: center;
  color: red;
  width: 70%;
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#checkOut {
  margin-left: 70%;
  width: 30%;
  position: fixed;
  margin-top: 150px;
}

.fixedBox {
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  border: solid black 3px;
  margin-bottom: 30px;
  height: fit-content;
}

#selectedItems {
  min-height: 200px;
}

.pizzaType {
  color: red;
  font-size: 60px;
  text-align: left;
  margin-left: 70px;
}

.title {
  font-size: 40px;
  margin-left: 50px;
}

#total {
  display: flex;
}

#totalTitle {
  font-size: 25px;
  margin-left: 30px;
  margin-right: 220px;
}

#totalPrice {
  font-size: 25px;
}

.emptyStar,
.fullStar {
  border: 0px solid white;
  background-color: white;
}

#redPizzas,
#whitePizzas,
#drinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
}

.redPizzas,
.whitePizzas,
.drinks {
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  width: 320px;
  height: 320px;
  margin: 20px;
}

.pizzaImg {
  border-radius: 10px;
  margin-bottom: 15px;
}

.pizzaName {
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 30px;
}

.pizzaText {
  font-size: 18px;
}

.addedItemName {
  margin-right: 100px;
}

.addedItemPrice {
  float: right;
  margin-right: 80px;
}

.addedItemName,
.addedItemPrice {
  font-size: 20px;
}

.removeItem {
  background-color: red;
  font-weight: bold;
  float: left;
  font-size: 10px;
  margin-right: 10px;
  font-size: 7px;
  margin-top: 8px;
}

#clearAll {
  background-color: red;
  font-size: 20px;
  margin: 10px;
}

#orderTitle {
  text-align: left;
  margin-left: 90px;
}
